body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #00754a;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: white;
  border-bottom: 1px solid #ddd;
}


.nav-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  width: 50px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  margin-right: 20px;
}

.nav-links a:hover {
  color: #00754a;
}


.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}