a.button,
a.default-button,
a.positive-button {
    text-decoration: none;
}

/* common base */
.button,
.default-button,
.positive-button,
.outlined-button {
    cursor: pointer;
    padding: 7px 16px;
    border-radius: 50px;
    font-weight: 600;
    border-style: none;
    text-decoration: none;
}

/* variants */
.button,
.default-button,
.outlined-button {
    background-color: transparent;
    color: var(--text-color);
}

.button:hover {
    color: var(--accent-color);
}

.default-button {
    border: 2px solid transparent;
}

.default-button:hover, .outlined-button:hover {
    background-color: var(--button-default-hover-color);
}

.positive-button {
    background-color: var(--button-positive-bg-color);
    color: var(--button-positive-text-color);
}

.positive-button:disabled {
    background-color: var(--button-positive-disabled-bg-color);
    color: var(--button-positive-disabled-text-color);
    cursor: not-allowed;
    pointer-events: none;
}

.positive-button:hover {
    background-color: var(--button-positive-hover-color);
}

.outlined-button {
    border: 2px solid var(--text-color)
}
