.footer {
    padding: 12px 24px 12px 24px;;
}

.footer h2 {
    font-weight: 600;
}

.footer > p {
    font-weight: 100;
}

.links-container {
    display: flex;
    gap: 16px;
    flex-direction: row;
    padding: 8px;
}

.links-container a:hover {
    transform: translateY(-5px);
    transition: all 0.2s ease;
}

.links-container img {
    width: 32px;
    height: 32px;   
}

.section-divider {
    display: flex;
    height: 1px;
    background-color: var(--divider-color);
    width: 83.33333333%;
    margin-left: 8.33333333%;
}

.about-us-section a {
    text-decoration: none;
    color: var(--secondary-text-color);
    letter-spacing: 1px;
    margin-right: 20px;
}

.vertical-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

