.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: var(--topbar-color);
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    height: 57px;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-left {
    gap: 30px;
}

.nav-right {
    gap: 30px;
}

.logo {
    width: 50px;
}

.nav-links a {
    text-decoration: none;
    color: var(--color-nav-text);
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 20px;
}

.nav-links a:hover {
    color: var(--color-nav-text-hover);
}

.find-store {
    text-decoration: none;
    color: var(--color-nav-text);
    font-weight: 500;
}