@font-face {
    font-family: "SoDoSans";
    src: url(/assets/fonts/SoDoSans-Black.otf) format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "SoDoSans";
    src: url(/assets/fonts/SoDoSans-Regular.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SoDoSans";
    src: url(/assets/fonts/SoDoSans-Light.otf) format("opentype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "SoDoSans";
    src: url(/assets/fonts/SoDoSans-Bold.otf) format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "SoDoSans";
    src: url(/assets/fonts/SoDoSans-SemiBold.otf) format("opentype");
    font-weight: 600;
    font-style: normal;
}