.dev-info-container {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 32px;
}

.dev-info {
    padding: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: all 0.5s ease;
}

.dev-info:hover {
    transform: translateY(-16px);
}

.dev-info.disabled {
    background-color: var(--button-positive-disabled-text-color);
}

.dev-info-image-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}