@import url(common/tokens.css);
@import url(common/animations.css);
@import url(common/components-tokens.css);
@import url(common/components.css);
@import url(common/navbar.css);

body {
    font-family: var(--font);
    font-feature-settings: "calt";

    background-color: var(--color-bg-base);
    color: var(--text-color);

    height: 100%;
    margin: 0;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}