@import url(common/tokens.css);
@import url(common/components.css);

body {
    font-family: var(--font);
    font-feature-settings: "calt";

    background-color: var(--color-bg-base);
    color: var(--text-color);

    height: 100%;
    margin: 0;

    transition: all 0.15s ease;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.main-container {
    margin-top: 102px;
}


