@import url(common/tokens.css);
@import url(common/components.css);

/* this file is imported
 on every webpage, hence the name
 'common'. this css file contains
 reusable styling (see common/components.css) */

body {
    font-family: var(--font);
    font-feature-settings: "calt";

    background-color: var(--color-bg-base);
    color: var(--text-color);

    height: 100%;
    margin: 0;

    transition: all 0.15s ease;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.main-container, .main-container-padded {
    margin-top: 102px;
}

.main-container-padded {
    padding: 16px 24px 16px 24px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--divider-color, #e0e0e0);
    margin: 8px 0;
    flex-shrink: 0;
}


