.main-container-padded {
    padding: 64px;
}

.login-card {
    padding: 40px;
    width: 400px;
    margin: 0 auto;
}

.login-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-card input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.sign-in-button2 {
    background: #00754a;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 12px;
}

.sign-in-button2:hover {
    background: #005f3a;
}

.forgot {
    text-align: center;
    margin: 15px 0;
    color: #00754a;
    cursor: pointer;
}

#already-logged-in {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-evenly;
    align-items: center;
}
