/* ── Light Mode (Default) ── */
html,
html[ui-theme="light"] {
    --primary-color: #006241;
    --accent-color: #00754A;
    --topbar-color: #FFFFFF;

    --text-color: #000000;

    --inverse-white: #000000;
    --inverse-black: #FFFFFF;

    --ghost-color: rgba(0, 0, 0, 0.6);

    --font: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* ── Dark Mode ── */
html[ui-theme="dark"] { }
