/* ── Light Mode (Default) ── */
/*,
html[ui-theme="light"] */

:root {
    --primary-color: #006241;
    --accent-color: #00754A;
    --topbar-color: #FFFFFF;
    
    --text-color: #000;
    --secondary-text-color: #555;
    --divider-color: #e5e5e5;

    --nav-text-hover-color: var(--accent-color);

    --button-default-hover-color: rgba(0, 0, 0, 0.6);
    --button-default-border-color: #000;

    --button-positive-bg-color: #000;
    --button-positive-text-color: #FFF;
    --button-positive-hover-color: rgba(0, 0, 0, 0.7);

    --font: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* ── Dark Mode ── */
/* html[ui-theme="dark"] { } */
